<div class="wrapper">
  
  <div class="content">
    <div *ngIf="isLoading">
      <app-loader></app-loader>
    </div>
    <div class="jobs-container">
      <div *ngFor="let job of jobsList" class="job-card">
        <img src="{{job.imageUrl}}" alt="Book 1">
        <div class="job-info">
          <h3 class="job-position"> {{job.position}}</h3>
          <!-- <p class="job-author">{{job.author}}</p> -->
          <!-- <p class="job-description">{{book.description.slice(0, 150)}}...</p> -->
          <p class="job-vesselType">{{job.vesselType}}</p>
          <div class="subsciption">

            <!-- <span class="jobs-subscribtions">{{job.subscriber.length}}</span> -->
            <div class="button-group">
              <a [routerLink]="job.id" class="normal">
                <button type="button" class="button">Details</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>