
<!-- <div *ngIf="isLoading">
    <app-loader></app-loader>
  </div> -->
<div class="container">
   
    <div class="job-details">
        <div class="header-background">
            <span>Edit current Job</span>
        </div>
        <form *ngIf="job" #jobForm="ngForm" (ngSubmit)="editComponentSubmitHandler(jobForm.value)">
            

            <div class="job-position">
                <label for="position">Position <span class="red">*</span></label>
                <input class="input" type="text" name="position" id="position" ngModel #inputPosition="ngModel" ngModel="{{job.position}}" required
                    minlength="5" />

                <ng-container *ngIf="inputPosition.touched">
                    <p class="error" *ngIf="inputPosition.errors?.['required']">
                        Position is required.
                    </p>
                    <p class="error" *ngIf="inputPosition.errors?.['minlength']">
                        Position must be at least 5 characters long.
                    </p>
                </ng-container>
            </div>

            

            <div class="job-age">
                <label for="Age">Age <span class="red">*</span></label>
                <input class="input" type="text" name="age" id="age" ngModel #inputAge="ngModel" ngModel="{{job.age}}" required
                    minlength="5" />

                <ng-container *ngIf="inputAge.touched">
                    <p class="error" *ngIf="inputAge.errors?.['required']">
                        Age is required.
                    </p>
                    <p class="error" *ngIf="inputAge.errors?.['minlength']">
                        Age must be at least 2 simbols.
                    </p>
                </ng-container>
            </div>

          
            <div class="job-image">
                <label for="imageUrl">Image <span class="red">*</span></label>
                <textarea class="input" type="text" name="imageUrl" id="imageUrl" class="height" ngModel #inputImage="ngModel" ngModel="{{job.imageUrl}}"
                    required></textarea>

                <ng-container *ngIf="inputImage.touched">
                    <p class="error" *ngIf="inputImage.errors?.['required']">
                        JobImage is required.
                    </p>
                </ng-container>
            </div>

            <div class="job-vesselType">
                <label for="vesselType">Vessel Type <span class="red">*</span></label>
                <textarea class="input" type="text" name="vesselType" id="vesselType" class="height" ngModel #inputType="ngModel" ngModel="{{job.vesselType}}"
                    required minlength="6"></textarea>

                <ng-container *ngIf="inputType.touched">
                    <p class="error" *ngIf="inputType.errors?.['required']">
                        VesselType is required.
                    </p>
                    <p class="error" *ngIf="inputAge.errors?.['minlength']">
                        VesselType must be at least 6 simbols.
                    </p>
                </ng-container>
            </div>

            <div class="job-telephone">
                <label for="tel">Telephone <span class="red">*</span></label>
                <textarea class="input" type="text" name="tel" id="tel" class="height" ngModel #inputTelephone="ngModel" required ngModel="{{job.tel}}"
                    minlength="9"></textarea>

                <ng-container *ngIf="inputTelephone.touched">
                    <p class="error" *ngIf="inputTelephone.errors?.['required']">
                        Telephone is required.
                    </p>
                    <p class="error" *ngIf="inputTelephone.errors?.['minlength']">
                        Telephone must be at least 9 characters long.
                    </p>
                </ng-container>
            </div>

            <div class="job-buttons">
                <div class="submit">
                    <button type="submit" class="public">Save</button>
                </div>
                <div class="delete">
                    <button type="button" (click)="onDeleteHandler(id)" class="public">Delete</button>

                </div>

            </div>
        </form>
    </div>
</div>

