<p>edit-job works!</p>



<div class="container">
    <div class="new-theme-border">
        <div class="header-background">
            <span>New Job</span>
        </div>
        <form #jobForm="ngForm" (ngSubmit)="editComponentSubmitHandler(jobForm.value)">
            <div class="new-job-position">
                <label for="position">Position <span class="red">*</span></label>
                <input type="text" name="position" id="position" [(ngModel)]="job.position" />
                <!-- 
              <ng-container *ngIf="inputName.touched">
                  <p class="error" *ngIf="inputName.errors?.['required']">
                      Position is required.
                  </p>
                  <p class="error" *ngIf="inputName.errors?.['minlength']">
                      Position must be at least 5 characters long.
                  </p>
              </ng-container> -->
            </div>

            <div class="new-job-age">
                <label for="age">Age <span class="red">*</span></label>
                <textarea type="text" name="age" class="height" id="Age" [(ngModel)]="job.age"></textarea>

                <!-- <ng-container *ngIf="inputName.touched">
                  <p class="error" *ngIf="inputName.errors?.['required']">
                      Age is required.
                  </p>
                  <p class="error" *ngIf="inputName.errors?.['minlength']">
                      Age must be at least 2 characters long.
                  </p>
              </ng-container> -->
            </div>

            <div class="new-job-company">
                <label for="company">Company <span class="red">*</span></label>
                <textarea type="text" name="company" class="height" id="company" [(ngModel)]="job.company"></textarea>

                <!-- <ng-container *ngIf="inputName.touched">
                  <p class="error" *ngIf="inputName.errors?.['required']">
                      JobCompany is required.
                  </p>
                  <p class="error" *ngIf="inputName.errors?.['minlength']">
                      jobCompany must be at least 6 characters long.
                  </p>
              </ng-container> -->
            </div>

            <div class="new-job-image">
                <label for="imageUrl">Image <span class="red">*</span></label>
                <textarea type="text" name="imageUrl" class="height" id="imageUrl"
                    [(ngModel)]="job.imageUrl"></textarea>
                <!-- 
              <ng-container *ngIf="inputName.touched">
                  <p class="error" *ngIf="inputName.errors?.['required']">
                      JobImage is required.
                  </p>
              </ng-container> -->
            </div>

            <div class="new-job-vesselType">
                <label for="vesselType">Vessel Type <span class="red">*</span></label>
                <textarea type="text" name="vesselType" class="height" id="vesselType"
                    [(ngModel)]="job.vesselType"></textarea>

                <!-- <ng-container *ngIf="inputName.touched">
                  <p class="error" *ngIf="inputName.errors?.['required']">
                      VesselType is required.
                  </p>
              </ng-container> -->
            </div>

            <div class="new-job-telephone">
                <label for="tel">Telephone <span class="red">*</span></label>
                <textarea type="text" name="tel" class="height" id="tel" [(ngModel)]="job.tel"></textarea>

                <!-- <ng-container *ngIf="inputName.touched">
                  <p class="error" *ngIf="inputName.errors?.['required']">
                      Telephone is required.
                  </p>
                  <p class="error" *ngIf="inputName.errors?.['minlength']">
                      Telephone must be at least 6 characters long.
                  </p>
              </ng-container> -->
            </div>

            <div class="new-job-buttons">
                <div class="submit">
                    <button type="submit" class="public">Save</button>
                </div>
                <div class="delete">
                    <button (click)="onDeleteHandler(job.id)" class="public">Delete</button>

                </div>

            </div>
        </form>
    </div>
</div>

