<div  id="home-intro" class="home-section">
    <div @fade class="home-intro-auto">
        <header>
            <h1>What we offer</h1>
        </header>
        <p>Marine help center is a company foccused on helping all envolved parties in marine operations</p>
        <button mat-raised-button
       
         (click)="toggle()"> 
         {{text}}
        </button>
        <div class="additional-info" *ngIf="show">
            <p>MArine solution senter is the right place to discover a new job. Explore thru multiple job openings to discover the desired job. By regestering in our platform you'll receive a full access to the most resent available positions.</p>
        </div>

    </div>
    <div @fade class="intro-nav">
        <p>Enter the app by login to you're account if you're already a regitedred user,</p>
        <p>or registerif you're new user</p>
        <button mat-raised-button color="primary" routerLink="/sign-up">
            Sign Up!
        </button>
    </div>
</div>