
<div *ngIf="job" class="job-render-container">
  <div *ngIf="isLoading">
    <app-loader></app-loader>
  </div>
  <div class="content-overlay">
    <!-- *ngIf="filteredSub" -->
    <div class="job-name">
      <a class="normal">
        <h2></h2>
      </a>
      <div class="columns">
        <div>
          <p>
            Position: <span>{{job?.position}}</span>
          </p>
          <div class="form-group">
            <p>
              Age: <span>{{job?.age}}</span>
            </p>
          </div>
          <div class="form-group">
            <p>
              Company: <span>{{job?.company}}</span>
            </p>
          </div>
          <div class="form-group">
            <p>
              Image:
            </p>

            <img src="{{job?.imageUrl}}" alt="Image" width="200" height="200">
          </div>
          <div class="form-group">
            <p>
              Telephone: <span>{{job?.tel}}</span>
            </p>
          </div>
        </div>
        <div class="form-group">
          <p>
            vesselType: <span>{{job?.vesselType}}</span>
          </p>
        </div>
      </div>
      <div class="form-buttons">
        <p>
          Subscribers: <span *ngIf="filteredSub">{{filteredSub?.length}}</span>
        </p>
        <span *ngIf="canEdit">
          <button class="edit" routerLink="edit">Edit </button>
        </span>
        <span *ngIf="!canEdit">
          <div *ngIf="canSubscribe">
            <button class="subscribe" (click)="onSubsriptionHandler(job.id, authorId)" routerLink="/jobs/list">Subsribe
            </button>
          </div>
          <div *ngIf="!canSubscribe">
            <span class="can't-subscribe">You have already subscribed </span>
            <button routerLink="/jobs/list">View other jobs</button>
          </div>

        </span>

      </div>
    </div>
  </div>
</div>