<!-- <div>
  jobid is {{id}}
  <br>
  job url is {{url}}
</div>
<div *ngIf="job" class="job-name-wrapper">
  <div  class="job-filter-wrapper">
     *ngIf="filteredSub"
  <div class="job-name">
    <a class="normal">
      <h2></h2>
    </a>
    <div class="columns">
      <div>
        <p>
          Username: <span>{{job?.position}}</span>
        </p>
        <div class="age-info">
          <p>
            Age: <span>{{job?.age}}</span>
          </p>
        </div>
        <div class="age-info">
          <p>
            Company: <span>{{job?.company}}</span>
          </p>
        </div>
        <div class="image-info">
          <p>
            Image:
          </p>
         
          <img src="{{job?.imageUrl}}" alt="Image" width="200" height="200">
        </div>
        <div class="tel-info">
          <p>
            Telephone: <span>{{job?.tel}}</span>
          </p>
        </div>
      </div>
      <div class="vesselType-info">
        <p>
          vesselType: <span>{{job?.vesselType}}</span>
        </p>
      </div>
    </div>
    <div class="subscribers">
      <p>
        Subscribers: <span *ngIf="filteredSub">{{filteredSub?.length}}</span>
      </p>
      <span *ngIf="canEdit">
        <button class="edit" routerLink="edit">Edit </button>
      </span>
      <span *ngIf="!canEdit">
        <div *ngIf="canSubscribe">
          <button class="subscribe" (click)="onSubsriptionHandler(job.id, authorId)" routerLink="/jobs/list">Subsribe </button>
        </div>
        <div *ngIf="!canSubscribe">
          <span class="can't-subscribe" >You have already subscribed </span>
          <button routerLink="/jobs/list">View other jobs</button>
        </div>
        
      </span>
 
    </div>
  </div>
</div>
</div> -->
<!-- <div class="job-render-container" style="background-image: url('https://www.man-es.com/images/default-source/marine-images/istock-868192214_interp_container-stage-neu.jpg?sfvrsn=e1911eba_0');">
  <div class="content-overlay">
    <h1>Job Information</h1>
    <form >
      <div class="form-group">
        <label for="position">Position:</label>
        <input type="text" {{job?.position}}>
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" [(ngModel)]="job.age" required>
      </div>
      <div class="form-group">
        <label for="company">Company:</label>
        <input type="text" id="company" name="company" [(ngModel)]="job.company" required>
      </div>
      <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" id="image" name="image" >
      </div>
      <div class="form-group">
        <label for="telephone">Telephone:</label>
        <input type="tel" id="telephone" name="telephone" [(ngModel)]="job.telephone" required>
      </div>
      <div class="form-group">
        <label for="vesselType">Vessel Type:</label>
        <input type="text" id="vesselType" name="vesselType" [(ngModel)]="job.vesselType" required>
      </div>
      <div class="form-group">
        <label for="subscribers">Subscribers:</label>
        <input type="number" id="subscribers" name="subscribers" [(ngModel)]="job.subscribers" required>
      </div>

      <div class="form-buttons">
        <button type="submit" class="btn-save">Save</button>
        <button type="button"  class="btn-delete" >Delete</button>
        <button type="button"  class="btn-subscribe" >Subscribe</button>
        <button type="button"  class="btn-view-jobs">View Other Jobs</button>
      </div>
    </form>
  </div>
</div> -->
<div *ngIf="job" class="job-render-container">
  <div class="content-overlay">
    <!-- *ngIf="filteredSub" -->
    <div class="job-name">
      <a class="normal">
        <h2></h2>
      </a>
      <div class="columns">
        <div>
          <p>
            Position: <span>{{job?.position}}</span>
          </p>
          <div class="form-group">
            <p>
              Age: <span>{{job?.age}}</span>
            </p>
          </div>
          <div class="form-group">
            <p>
              Company: <span>{{job?.company}}</span>
            </p>
          </div>
          <div class="form-group">
            <p>
              Image:
            </p>

            <img src="{{job?.imageUrl}}" alt="Image" width="200" height="200">
          </div>
          <div class="form-group">
            <p>
              Telephone: <span>{{job?.tel}}</span>
            </p>
          </div>
        </div>
        <div class="form-group">
          <p>
            vesselType: <span>{{job?.vesselType}}</span>
          </p>
        </div>
      </div>
      <div class="form-buttons">
        <p>
          Subscribers: <span *ngIf="filteredSub">{{filteredSub?.length}}</span>
        </p>
        <span *ngIf="canEdit">
          <button class="edit" routerLink="edit">Edit </button>
        </span>
        <span *ngIf="!canEdit">
          <div *ngIf="canSubscribe">
            <button class="subscribe" (click)="onSubsriptionHandler(job.id, authorId)" routerLink="/jobs/list">Subsribe </button>
          </div>
          <div *ngIf="!canSubscribe">
            <span class="can't-subscribe" >You have already subscribed </span>
            <button routerLink="/jobs/list">View other jobs</button>
          </div>
          
        </span>
   
      </div>
    </div>
  </div>
</div>