.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  align-items: flex-start;
  font-size: 20px;
  color: rgb(19, 15, 17);
  width: auto;
  background-image: url('../../../assets/images/border.jpg');
  justify-content: flex-start;
  width: auto;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;



}

.sign-up-link {
  font-size: 1.2rem;
  margin-left: 8px;
}

.form-wrapper {
  display: flex;
  align-items: center;
}

.sign-up-link {
  font-size: 1.2rem;
  margin-left: 8px;
}

.form-container {
  flex-direction: column;
  display: flex;
  max-width: 300px;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  background: #eceff1;
  padding: 48px;
  border-radius: 16px;

  mat-form-field {
    width: 100%;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px !important;
}

.text-center {
  text-align: center;
}