.profile-image {
  position: relative;
  width: 120px;
  margin: auto;
}

.profile-image>img {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-image>button {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.form-container {
  max-width: 400px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;

  margin-top: 30px;
  background-color: rgb(232, 205, 169);
  justify-content: flex-start;
  justify-items: center;
}

.row {
  display: flex;
  gap: 16px;
}

.form-container {
  max-width: 401px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: space-around;
  /* position: absolute; */
  margin-top: 20px;
  padding: 20px;
  align-items: center;
  background-color: rgb(219, 202, 180);
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;

}

.profile {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  background-image: url("https://media.istockphoto.com/id/1030151554/photo/offshore-oil-rig.jpg?s=612x612&w=0&k=20&c=eJOkcSIeFIPmpz6tL1ps_FviDzylZcVUaBt9d3fOXaY=");

}

.mat-focus-indicator {
  margin-left: 70px;
}